:root {
    --main-bg-color: #90EE90;
    --main-txt-color: green;
    --main-padding: 15px;
}

.navbar {
    background-color: var(--main-bg-color) !important;
    color: var(--main-txt-color);
    padding: var(--main-padding);
}

.btn-secondary{
    background-color: var(--main-bg-color) !important;
    color: white;
}
